@import "colors";

body {
  width: 1200px;
  margin: auto;
}

.header {
  background-color: $bgc;
  height: 190px;
}

.logo {
  padding: 10px;
  height: 100px;
  width: 200px;
}

.logo-img {
  height: 90px;
  width: 180px;
}

.header-nav {
  padding-top: 30px;
  width: 400px;
  font-size: large;
  margin: auto;
}

//.nav-link {
//  margin: auto;
//}
